body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1712px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1712px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1200px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:60px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:100px;
  width:147px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:110px;
  width:120px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:107px;
  width:46px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:3px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:157px;
  width:30px;
  height:3px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:107px;
  width:46px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u178_img.mouseOver {
}
#u178.mouseOver {
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:3px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:157px;
  width:30px;
  height:3px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u179_img.mouseOver {
}
#u179.mouseOver {
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:67px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1645px;
  width:1200px;
  height:67px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:68px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1644px;
  width:528px;
  height:68px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:28px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:528px;
  word-wrap:break-word;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:1647px;
  width:78px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u184 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:1647px;
  width:95px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u185 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:1647px;
  width:95px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:96px;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:41px;
  width:73px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u189_img.mouseOver {
}
#u189.mouseOver {
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:41px;
  width:73px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u190_img.mouseOver {
}
#u190.mouseOver {
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:41px;
  width:73px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u191_img.mouseOver {
}
#u191.mouseOver {
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:1200px;
  height:138px;
  overflow:hidden;
  visibility:hidden;
}
#u192_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:138px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u192_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:135px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:1200px;
  height:135px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:0px;
  width:105px;
  height:105px;
}
#u195_img.mouseOver {
}
#u195.mouseOver {
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:113px;
  width:105px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u196_img.mouseOver {
}
#u196.mouseOver {
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:0px;
  width:105px;
  height:105px;
}
#u198_img.mouseOver {
}
#u198.mouseOver {
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:113px;
  width:105px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u199_img.mouseOver {
}
#u199.mouseOver {
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:0px;
  width:105px;
  height:105px;
}
#u201_img.mouseOver {
}
#u201.mouseOver {
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:113px;
  width:105px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u202_img.mouseOver {
}
#u202.mouseOver {
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:0px;
  width:105px;
  height:105px;
}
#u204_img.mouseOver {
}
#u204.mouseOver {
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:113px;
  width:105px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u205_img.mouseOver {
}
#u205.mouseOver {
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:60px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:182px;
  width:147px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:201px;
  width:300px;
  height:300px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:201px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:543px;
  width:1000px;
  height:1px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:60px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:562px;
  width:147px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:60px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:562px;
  width:147px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:147px;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:638px;
  width:1000px;
  height:1px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:60px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:658px;
  width:147px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:67px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:670px;
  width:318px;
  height:67px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:36px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1055px;
  width:1000px;
  height:1px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:60px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1075px;
  width:147px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:48px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:1087px;
  width:318px;
  height:48px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:36px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1154px;
  width:1000px;
  height:1px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:60px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1174px;
  width:147px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:48px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:1186px;
  width:318px;
  height:48px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:36px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1255px;
  width:1000px;
  height:1px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:60px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1275px;
  width:147px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:206px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1297px;
  width:154px;
  height:206px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:83px;
  width:150px;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:206px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:1297px;
  width:154px;
  height:206px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:83px;
  width:150px;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1549px;
  width:1000px;
  height:1px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:95px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1549px;
  width:349px;
  height:95px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:349px;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1503px;
  width:154px;
  height:48px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:154px;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:1503px;
  width:154px;
  height:48px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:154px;
  word-wrap:break-word;
}
